.content {
  padding-top: 42px;
  position: absolute;
  /* top: 512px; JS managed */
  height: 100vh;
  left: 50%;
  margin-left: -576px;
}

.content-background {
  background: #ffffff;
  border-radius: 12px 12px 0 0;
  transition-property: width, left, margin;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.content-background.full-width {
  left: 0;
  margin-left: 0;
  width: 100%;
}

.content-unit {
  width: 567px;
  margin-left: 98px;
  margin-bottom: 71px;
}

.boxes-container {
  position: absolute;
  /* top: 442px; JS managed */
  right: 0;
  bottom: 0;
  left: 0;
}

.popup-background {
  background: #4a4a4a;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.popup-background.show {
  opacity: 1;
  pointer-events: all;
}
