.content {
  margin-top: 512px;
  background: #ffffff;
  border-radius: 12px 12px 0 0;
  padding-top: 42px;
  position: relative;
}

.content-unit {
  width: 567px;
  margin-left: 98px;
  margin-bottom: 71px;
}

.boxes-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
