.content {
  background: #ffffff;
  border-radius: 12px 12px 0 0;
  padding-top: 42px;
  position: absolute;
  /* top: 512px; JS managed */
  left: 50%;
  margin-left: -576px;
  height: 100vh;
}

.content-unit {
  width: 567px;
  margin-left: 98px;
  margin-bottom: 71px;
}

.boxes-container {
  position: absolute;
  /* top: 442px; JS managed */
  right: 0;
  bottom: 0;
  left: 0;
}
