/*
.box is limited in size in pixels, so I think it is not a good idea to use em/rem here
(or maybe simply I should have declared its height as em/rem)
*/

.box {
  width: 310px;
  height: 414px;
  background: #f8e627;
  border-radius: 12px;
  position: relative;
  margin-left: 745px;
  margin-bottom: 30px;
  overflow: hidden;
  transition-property: width, height, margin;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.box-small>* {
  position: absolute;
  margin: 0 28px;
}

.box-small .number {
  color: #ecda1f;
  font-family: Montserrat, sans-serif;
  font-size: 216px;
  font-weight: bold;
  left: -30px;
  top: -70px;
  margin: 0;
}

.box-small .icon {
  top: 60px;
  display: block;
}

.box-small h2 {
  top: 96px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.143em;
}

.box-small .box-content {
  top: 150px;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.231em;
}

.box-small .box-content button {
  appearance: none;
  background: none repeat scroll 0 0 transparent;
  margin-top: 25px;
  border: solid 1px #3a405b;
  border-radius: 8px;
  height: 51px;
  width: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.143em;
  text-transform: uppercase;
  color: #000;
}

.box .box-big {
  display: none;
  height: 100%;
}

.box-fullscreen {
  width: 83%;
  /* width: 957px */
  height: 658px;
  margin-left: 8.5%;
  margin-right: 8.5%;
  z-index: 20;
}

.box-fullscreen .box-small {
  display: none;
}

.box-fullscreen .box-big {
  display: block;
}

.box-big-top:before, .box-big-bottom:before {
  /* vertical centering from https://css-tricks.com/centering-in-the-unknown/ */
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.box-big-top {
  height: 50%;
}

.box-big-bottom {
  background: #fff;
  border-radius: 12px;
  height: 50%;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  animation-name: box-big-bottom-open;
  animation-duration: .3s;
  animation-delay: .2s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@keyframes box-big-bottom-open {
  from {
    height: 0;
  }
  to {
    height: 50%;
  }
}

.box-big p {
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.231em;
  width: 485px;
  margin-left: 99px;
  vertical-align: middle;
  animation-delay: .4s;
}

.box-big .gallery-container {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  animation-delay: .2s;
}

.box-big .gallery {
  margin-left: 99px;
  width: 957px;
}

.box-big p, .box-big .gallery-container {
  animation-name: box-big-bottom-contents-fade;
  animation-duration: .4s;
  animation-fill-mode: both;
}

@keyframes box-big-bottom-contents-fade {
  from {
    opacity: 0;
    padding-top: 80px;
  }
  to {
    opacity: 1;
    padding-top: 0;
  }
}

@media (max-width: 1200px) {
  .box {
    margin-left: 0;
    margin-right: 30px;
  }
  .box-fullscreen {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 850px) {
  .box {
    width: 100%;
    margin-right: 0;
  }
  .box-fullscreen {
    position: relative;
    height: 450px;
  }
  .box-big p {
    margin: 0 10%;
    max-width: 80%;
  }
  .box-big .gallery {
    margin: 0 10%;
  }
}
