* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.colon {
  width: 1152px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .colon {
    width: auto;
  }
}
