* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* transform: translateZ(0); should fix a painting issue in edge and safari, but gives back a paint issue for the popup */
}

.colon {
  width: 1152px;
  margin: 0 auto;
}
