* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: url('cover.png') no-repeat 0 60px;
  background-size: 100%;
}

.colon {
  width: 1152px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .colon {
    width: auto;
  }
}
